.vc-bg-container{
    background-color:#1c1c2b;
    padding:10px;
    border-radius:8px;
    margin-bottom:20px;
    
}
.vc-heading{
    color:#94a3b8;
    font-family:"Roboto";
    font-size:22px;
    font-weight:700;
}
